build
*.mode1v3
*.pbxuser
*.perspectivev3
*.xcworkspace
xcuserdata
._*
bin
obj
*.pdb
*.Publish.xml
*.user
*.suo
*.swp
*.swo
*~
*.testrunconfig
*.vsmdi
.DS_Store
*.minime-options
obf
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
ShareKit
